@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'material-icons/iconfont/material-icons.css';
  
:root {
  --primary-color: #1da1f2;
}


body {
  /* font-family: 'Playfair Display', serif; */
  background-color: #f5f4f0;
}

.bg-main {
  background-color: var(--primary-color);
}

.selected-nav {
  border-bottom: 2px solid #FD661F;
  position: absolute;
  left: 0;
  right: 50%;
}
